<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

{% block body %}
    <h2>{{ title }}</h2>
    <h3>{{ table_title }}</h3>
    <table border="1">
        <th>CWID</th>
        <th>Name</th>
        <th>Course</th>
        <th>Grade</th>
        <th>Instructor</th>
        {% for student in data %}
            <tr>

                <td>{{ student.cwid }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.course }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.instructor }}</td>


            </tr>
        {% endfor %}
    </table>

<p>
<b>Author: {{developer}}<b/>
</p>
{% endblock %}
